.experience-section {
    padding: 2rem;
    text-align: center;
  }
  
  .experience-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .experience-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  
  .experience-card {
    background-color: rgb(255, 255, 255,0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .experience-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #0073e6;
  }
  
  .experience-card p {
    font-size: 1rem;
    color: #555;
  }
  
  .experience-card span {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #888;
  }
  